*.db
*.sqlite
.DS_Store

# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# Local database files
*.sqlite3

# Generated data
data/raw/*.csv
data/processed/*.csv

# VS Code settings
.vscode/

# Jypyter notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db